lebaudy.gauchedroite.com {
	#
	# curl https://lebaudy.gauchedroite.com/index.html
	#
	file_server * {
		root ./live
	}

	#
	# ollama must listen to 0.0.0.0
	# The reverse proxy must target 192.168.50.199
	# OLLAMA_HOST=0.0.0.0:11434 ollama serve
	#
	# curl https://lebaudy.gauchedroite.com/api/tags
	#
	reverse_proxy /api* 192.168.50.199:11434
}
