#
# caddy run --config ./Caddyfile --watch
#
lebaudy.gauchedroite.com {
	#
	# Kludge because I don't know how to get fontawesome to use 
	# the local /webfonts of the application (as opposed to the root level /webfonts it's currently requesting)
	# I can live with that for the moment.
	#
	handle_path /webfonts* {
		root * ./public/webfonts
		file_server
	}

	#
	# Same deal with the src folder for the *.ts files
	#
	handle_path /client/src* {
		root * ./client/src
		file_server
	}

	#
	# Main application.
	# node must listen to 0.0.0.0
	# The reverse proxy must target 192.168.50.199
	#
	handle_path /histoireia* {
		reverse_proxy 192.168.50.199:9340
	}

	###########################################
	# Everything below is fo reference only
	###########################################

	#
	# ollama must listen to 0.0.0.0
	# The reverse proxy must target 192.168.50.199
	# OLLAMA_HOST=0.0.0.0:11434 ollama serve
	#
	# curl https://lebaudy.gauchedroite.com/api/tags
	# reverse_proxy /api* 192.168.50.199:11434


	# Not used anymore because only the Express server talks to ollama now (used to be the web app)
	# I keep it here for reference only.
	#handle_path /histoireia/ollama/api* {
	#	rewrite * /api{path}
	#	reverse_proxy 192.168.50.199:11434
	#}
}
