#
# caddy run --config ./Caddyfile --watch
#
lebaudy.gauchedroite.com {
	#
	# curl https://lebaudy.gauchedroite.com/histoireia/index.html
	#
	handle_path /histoireia* {
		root * ./game/public
		file_server
	}

	handle_path /webfonts* {
		root * ./live/webfonts
		file_server
	}

	handle_path /src* {
		root * ./game/src
		file_server
	}

	#
	# ollama must listen to 0.0.0.0
	# The reverse proxy must target 192.168.50.199
	# OLLAMA_HOST=0.0.0.0:11434 ollama serve
	#
	# curl https://lebaudy.gauchedroite.com/api/tags
	# reverse_proxy /api* 192.168.50.199:11434

	handle_path /ollama/api* {
		rewrite * /api{path}
		reverse_proxy 192.168.50.199:11434
	}
}
