
.app-header {
    width: 100%;
    height: calc(var(--header-height) + var(--sait));

    background-color: var(--accent-bgc);
    color: white;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: var(--sait);
    padding-left: calc(1rem + var(--sail));
    padding-right: calc(1rem + var(--sair));
    padding-bottom: 1rem;

    & a {
        color: white;
    }

    & > * {
        width: 100%;
    }

    & :nth-child(n + 2) {
        text-align: center;
    }

    & :nth-child(n + 3) {
        text-align: right;
    }
}


.app-content {
    height: calc(100vh - var(--header-height) - var(--sait) - var(--footer-height) - var(--saib));
    overflow-y: scroll;
    padding: 1.5rem calc(1.5rem + var(--sair)) 1.5rem calc(1.5rem + var(--sail));
}


.app-footer {
    width: 100%;
    height: calc(var(--footer-height) + var(--saib));

    background-color: var(--light-bgc);

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.app-list {
    padding: 0 1rem;
    background-color: var(--black-bgc);
    padding: 0 calc(1rem + var(--sair)) 0 calc(1rem + var(--sail));

    & a {
        display: block;

        & > div {
            display: flex;
            justify-content: end;
            align-items: center;
            border-bottom: 1px solid #222;

            color: var(--accent-bgc);

            & div {
                padding: 1rem;
                font-size: larger;
                text-align: right;
            }

            & i {
                font-size: x-large;
            }
        }
    }
}


.app-screen {
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    background-color: var(--black-bgc);

    &.app-zero {
        left: 0;
    }

    &.app-behind {
        left: -50vw;
        transition: left 0.5s;
    }

    &.app-front:not(.app-zero) {
        left: 0;
        transition: left 0.5s;
    }

    &.app-offscreen {
        left: 100vw;
        transition: left 0.5s;
    }

    &.app-zunset {
        z-index: unset;
    }
    &.app-z1 {
        z-index: 1;
    }
    &.app-z2 {
        z-index: 2;
    }
}
