
@media (min-width: 400px) {
    :root {
        --top: 50px;
        --width: calc(100vw * 0.45);
        --height: calc(100vh - 2 * var(--top));
        --left: calc(100vw - var(--width) - var(--top));

        /*
        --width: 390px;
        --height: 751px;
        --top: calc((100vh - var(--height)) * 0.55);
        --left: calc((100vw - var(--width)) * 0.75);
        */

        /*
        --sait: 0;
        --sair: 0;
        --saib: 0;
        --sail: 0;
        */
    }

    body {
        background-color: white;
    }

    #app_root {
        width: var(--width);
        height: var(--height);
        overflow: hidden;
    }

    #app_container {    
        position: absolute;
        width: var(--width);
        height: var(--height);
        top: var(--top);
        left: var(--left);
    }    
}


.app-header {
    width: 100%;
    height: calc(var(--header-height) + var(--sait));

    background-color: var(--accent-bgc);
    color: var(--color-white);

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: var(--sait);
    padding-left: calc(1rem + var(--sail));
    padding-right: calc(1rem + var(--sair));
    padding-bottom: 1rem;

    & a {
        color: var(--color-white)white;
    }

    & > * {
        width: 100%;
    }

    & :nth-child(n + 2) {
        text-align: center;
    }

    & :nth-child(n + 3) {
        text-align: right;
    }
}


.app-content {
    height: calc(var(--height) - var(--header-height) - var(--sait) - var(--footer-height) - var(--saib));
    overflow-y: scroll;
    padding: 1.5rem calc(1.5rem + var(--sair)) 1.5rem calc(1.5rem + var(--sail));
}


.app-footer {
    width: 100%;
    height: calc(var(--footer-height) + var(--saib));

    background-color: var(--light-bgc);

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.app-list {
    padding: 0 1rem;
    background-color: var(--black-bgc);
    padding: 0 calc(1rem + var(--sair)) 0 calc(1rem + var(--sail));

    & a {
        display: block;

        & > div {
            display: flex;
            justify-content: end;
            align-items: center;
            border-bottom: 1px solid #222;

            color: var(--accent-bgc);

            & div {
                padding: 1rem;
                font-size: larger;
                text-align: right;
            }

            & i {
                font-size: x-large;
            }
        }
    }
}


.app-screen {
    position: absolute;
    top: 0;
    left: 100vw;
    width: var(--width);
    height: var(--height);
    background-color: var(--black-bgc);

    &.app-zero {
        left: 0;
    }

    &.app-behind {
        left: calc(-1 * var(--width) / 2);
        transition: left 0.5s;
    }

    &.app-front:not(.app-zero) {
        left: 0;
        transition: left 0.5s;
    }

    &.app-offscreen {
        left: var(--width);
        transition: left 0.5s;
    }

    &.app-zunset {
        z-index: unset;
    }
    &.app-z1 {
        z-index: 1;
    }
    &.app-z2 {
        z-index: 2;
    }
}
