
:root {
    --white-bgc: whitesmoke;
    --accent-bgc: peru;
    --black-bgc: black;
    --color: black;
    --light-bgc: floralwhite;

    --header-height: 3rem;
    --footer-height: 2.5rem;

    --sait: env(safe-area-inset-top);
    --sair: env(safe-area-inset-right);
    --saib: env(safe-area-inset-bottom);
    --sail: env(safe-area-inset-left);

    --border: rgba(0, 0, 0, .2);
    --border-radius: 4px;
}


html {
    /* Disable text selection */
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

html,
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--accent-bgc);

    #app_root {
        position: relative;

        padding-top: var(--sait);
        padding-bottom: var(--saib);
        padding-left: var(--sail);
        padding-right: var(--sair);
    }
}

body,
input,
textarea {
    line-height: 1.25;
}

input, textarea {
    font-size: large;
}

a {
    color: var(--color);
    text-decoration: none;
}

input:not([type=checkbox]):not([type=radio]),select {
    display: block;
}

input, textarea, select, .button {
    position: relative;
    margin: .5rem 0;
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    outline: none;
    appearance: none;
    font-size: 100%;
}
