
#screen_bonjour {

    .app-header, .app-footer {
        display: none;
    }

    .app-content {
        height: 100vh;
        padding: 0;
    }

    text-align: center;

    .bonjour {
        color:var(--accent-bgc);
        padding-top: 5rem;
        padding-bottom: 4rem;

        & h1 {
            font-size: xxx-large;
        }
    }

    .choose {
        background-color: var(--accent-bgc);
        color: var(--color);

        font-size: x-large;

        & a {
            display: block;
            padding: 25%;
        }
    }
}
