
#screen_editor {

    .app-header {
        & > * {
            width: unset;
        }
    }

    .app-content {
        height: calc(100vh - var(--header-height) - var(--sait) - var(--saib));
        background-color: var(--white-bgc);

        font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
        line-height: 1.4;
    }

    .code {
        display: inline;
        float: right;
        line-height: 1.5rem;
        font-size: 75%;
        opacity: 0.25;
    }
}

