
#screen_home {
    .app-header {
        justify-content: center;
        text-align: center;
    }

    .app-content {
        padding: 0;
        background-image: url(../images/home.png);
        background-size: cover;
        position: relative;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--white-bgc);
    }

    .app-footer {
        font-size: large;
        background-color: var(--accent-bgc);

        & a {
            display: block;
            padding-top: 0.7rem;
        }
    }

    .list {
        font-variant: small-caps;
        position: absolute;
        top: 217px;
        left: 134px;
    }
}
