
#screen_story {
    background-color: var(--white-bgc);
    color: var(--color);

    .app-header {
        font-size: large;
        
        & :nth-child(n + 2) {
            text-align: right;
            width: 20%;
        }

        & a {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            & span {
                font-variant: small-caps;
            }
        }
    }

    .user {
        font-size: x-large;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    #ct_response {
        margin: 1rem 0;
        padding: 1rem 0;
        margin-left: -0.75rem;
        padding-left: 0.75rem;
        border-left: 6px solid #ccc;
    }

    .ask {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0 0.5rem;
        margin-top: 1rem;

        & button {
            /* background-color: var(--accent-bgc); */
            font-size: larger;
            padding: 0.25rem 0.5rem;
            border-radius: 50%;

            border: none;
            height: 3rem;
            width: 3rem;
            box-shadow: 0 2px 4px darkslategray;
        }
    }

    .input {
        width: 100%;
        & textarea {
            width: 100%;
        }
    }

    .choices div {
        background-color: white;
        margin: 0.5rem 0;

        padding: 8px 12px;
        border: 1px solid var(--border);
        border-radius: var(--border-radius);
    }

    .app-footer {
        & button {
            display: block;
            border: none;
            font-size: x-large;
            background-color: transparent;
        }

        & div {
            line-height: 2;
        }
    }
}

#gstory2 #screen_story .app-content {
    height: calc(var(--height) - var(--header-height) - var(--sait));
    background-color: black;
    color: antiquewhite;

    font-family: Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;

    h1, h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
        padding: 2rem;
        margin: 2rem 0;
        background-color: steelblue;
        border-radius: 1rem;
    }

    .answers {
        margin-top: 12em;
    }


    .question {
        h1 { opacity: 0; transition: opacity 0.15s ease; }
        h3 { opacity: 0; transition: opacity 0.5s ease; }
    }

    .consequence {
        transition: opacity 0.2s ease;
        h2 { opacity: 0; transition: opacity 0.5s ease; }

        h2.standout {
            color: var(--accent-bgc);
        }
    }

    &.fadin {
        .question {
            h1 { opacity: 1; transition-delay: 0s; }
            h3:nth-child(1) { opacity: 1; transition-delay: 0.4s; }
            h3:nth-child(2) { opacity: 1; transition-delay: 0.5s; }
        }

        .consequence {
            h2:nth-child(1) { opacity: 1; }
            h2:nth-child(2) { opacity: 1; transition-delay: 0.3s; }
            h2:nth-child(3) { opacity: 1; transition-delay: 0.6s; }
            h2:nth-child(4) { opacity: 1; transition-delay: 1.25s; }
        }
    }

    &.fadin.fadout {
        .consequence {
            opacity: 0;
        }
    }
}
