/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */

@font-face {
    font-display: swap;
    font-family: 'Klee One';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/klee-one-v7-latin-regular.woff2') format('woff2');
}
body, html, button, input, textarea {
    font-family: "Klee One";
}


/*
@font-face {
    font-display: swap;
    font-family: 'Schoolbell';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/schoolbell-v18-latin-regular.woff2') format('woff2');
}
body, html, button, input {
    font-family: "Schoolbell";
    font-size: large;
}
    
@font-face {
    font-display: swap;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/caveat-v18-latin-regular.woff2') format('woff2');
}
body, html, button, input {
    font-family: "Caveat";
    font-size: large;
}

@font-face {
    font-display: swap;
    font-family: 'Klee One';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/klee-one-v7-latin-regular.woff2') format('woff2');
}
body, html, button, input {
    font-family: "Klee One";
    font-size: large;
}

@font-face {
    font-display: swap;
    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/kavivanar-v20-latin-regular.woff2') format('woff2');
}
body, html, button, input {
    font-family: "Kavivanar";
    font-size: large;
}

*/


