
#ghome {
    .form {
        margin-top: 2rem;
    }

    .box {
        background-color: white;
        padding: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;

        font-size: larger;

        a {
            padding-left: 1rem;
        }

        &.item a {
            font-weight: bold;
        }
    }
}

