
#screen_menu {
    .ct-content {
        height: calc(100vh - var(--header-height) - var(--sait));
    }

    .title {
        padding: 20%;
        text-align: center;
        background-color: var(--white-bgc);
        font-size: x-large;
        font-weight: bold;
    }
}
