
:root {
    --white-bgc: whitesmoke;
    --accent-bgc: peru;
    --black-bgc: black;
    --color: black;

    --header-height: 3rem;
    --footer-height: 2.5rem;

    --sait: env(safe-area-inset-top);
    --sair: env(safe-area-inset-right);
    --saib: env(safe-area-inset-bottom);
    --sail: env(safe-area-inset-left);
}

body, input, textarea {
    line-height: 1.25;
}

a {
    color: var(--color);
    text-decoration: none;
}

.ct-header {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100%;
    height: calc(var(--header-height) + var(--sait));

    background-color: var(--accent-bgc);
    color: white;

    z-index: 1;
    display: flex;
    align-items: flex-end;

    padding-top: var(--sait);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    & > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.ct-content {
    min-height: calc(100vh - var(--header-height) - var(--sait) - var(--footer-height) - var(--saib));
    margin-top: calc(var(--header-height) + var(--sait));
    padding-bottom: calc(var(--footer-height) + var(--saib));

    .ct-story {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: larger;
    }
}

.ct-footer {
    position: fixed;
    bottom: 0;
    left: 100vw;
    width: 100%;
    height: calc(var(--footer-height) + var(--saib));

    background-color: var(--white-bgc);

    z-index: 1;
    display: flex;
    justify-content: space-around;
}



.screen {
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    background-color: var(--black-bgc);

    &.ct-zero {
        left: 0;
        .ct-header, .ct-footer {
            left: 0;
        }
    }

    &.ct-behind {
        left: -50vw;
        transition: left 0.5s;

        .ct-header, .ct-footer {
            left: -50vw;
            transition: left 0.5s;
        }
    }

    &.ct-front {
        left: 0;
        transition: left 0.5s;

        .ct-header, .ct-footer {
            left: 0;
            transition: left 0.5s;
        }
    }

    &.ct-offscreen {
        left: 100vw;
        transition: left 0.5s;
        .ct-header, .ct-footer {
            left: 100vw;
            transition: left 0.5s;
        }
    }
}
